.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 88.7vh;
  background-color: #000;
}
.not-found-title {
  color: #fff;
  font-family: 'roboto';
  font-size: 25px;
  font-weight: 500;
}
.not-found-description {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'roboto';
  font-size: 16px;
  font-weight: 400;
}
